.screen{
    font-family: 'Lato', sans-serif;
    background-image: url('./loginn.png') !important;
   
    
    background-position: center;
    background-size: cover;
    background-color: aqua;
  }
  
  a {
    color:aquamarine
  }
  p{
    color:black
  }
  a:hover 
  {
    text-decoration: none;
    color:aliceblue
  }