.screen{
    font-family: 'Lato', sans-serif;
    background-image: url('./loginn.png') !important;
   
    
    background-position: center;
    background-size: cover;
    background-color: aqua;
  }
  
  a {
    color:aquamarine
  }
  p{
    color:black
  }
  a:hover 
  {
    text-decoration: none;
    color:black
  }
  table, th, td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  tr:hover {background-color: #D6EEEE;}
 .columns{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
 }